@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@layer base;

html {
    font-family: 'Chewy', serif;
}
.trade {
    font-family: monospace;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100vw;
}

.row {
    display: flex;
    gap: 10px;
}

.green {
    color: green;
}
.red {
    color: red;
}